@import "tailwindcss";

:root {
  --light-border: #ffffff1a;
  --input-border: #4a85ef;
  --input-shadow: #4a85ef4d;

  --dropdown-option-border: #f1f4f5;
  --dropdown-selected: #499fff;

  --body-background: #283f97;
  --dark-background: #121e5e;
  --secondary-background: #111e5f;

  --error: #dc2626;

  --primary: #ff3980;
  --primary-dark: #e53373;

  --text: #ffffff;
  --text-gray: #7a7575;
  --light-text: #b0bdff;
}

@theme inline {
  --color-light-border: var(--light-border);
  --color-input-border: var(--input-border);
  --color-input-shadow: var(--input-shadow);

  --color-dropdown-option-border: var(--dropdown-option-border);
  --color-dropdown-selected: var(--dropdown-selected);

  --color-body-background: var(--body-background);
  --color-secondary-background: var(--secondary-background);
  --color-dark-background: var(--dark-background);

  --color-error: var(--error);

  --color-primary: var(--primary);
  --color-primary-dark: var(--primary-dark);

  --color-text: var(--text);
  --color-text-gray: var(--text-gray);
  --color-light-text: var(--light-text);

  /*
  * custom-breakpoints
  */
  --breakpoint-2xs: 390px;
  --breakpoint-xs: 416px;

  /*
  * animate-scale-fade-animation
  */
  --animate-scale-fade: scale-fade 0.3s ease-out 1 forwards;

  @keyframes scale-fade {
    from {
      opacity: 1;
      transform: scale(1);
    }

    to {
      opacity: 0;
      transform: scale(4);
    }
  }

  /*
  * animate-scale-animation
  */
  --animate-scale: scale 0.3s linear 1 forwards;

  @keyframes scale {
    from {
      transform: scale(0);
    }

    to {
      transform: scale(1);
    }
  }

  /*
  * animate-twinkle-animation
  */
  --animate-twinkle: twinkle 0.3s linear 2;

  @keyframes twinkle {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
}

@layer base {
  .input-box-shadow:focus {
    box-shadow: 0 0 0 2px var(--input-shadow);
  }

  /*
  * animation
  */
  .move-in,
  .move-out {
    animation-duration: 0.3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

  /*
  * move-in-animation
  */
  .move-in {
    animation-timing-function: ease-out;
  }

  .move-in-left {
    animation-name: in-left;
  }

  @keyframes in-left {
    from {
      transform: translateX(-100vw);
    }

    to {
      transform: translateX(0);
    }
  }

  .move-in-right {
    animation-name: in-right;
  }

  @keyframes in-right {
    from {
      transform: translateX(100vw);
    }

    to {
      transform: translateX(0);
    }
  }

  .move-in-up {
    animation-name: in-up;
  }

  @keyframes in-up {
    from {
      transform: translateY(25vh);
    }

    to {
      transform: translateY(0);
    }
  }

  /*
  * move-out-animation
  */
  .move-out {
    animation-timing-function: linear;
    pointer-events: none;
  }

  .move-out-left {
    animation-name: out-left;
  }

  @keyframes out-left {
    from {
      opacity: 1;
      transform: translateX(0);
    }

    25% {
      opacity: 0;
    }

    to {
      width: 0;
      opacity: 0;
      transform: translateX(-100vw);
    }
  }

  .move-out-right {
    animation-name: out-right;
  }

  @keyframes out-right {
    from {
      opacity: 1;
      transform: translateX(0);
    }

    25% {
      opacity: 0;
    }

    to {
      width: 0;
      opacity: 0;
      transform: translateX(100vw);
    }
  }

  /*
  * right-move-animation
  */
  .right-arrow-container:hover img {
    animation: right-move 1s 1;
  }

  @keyframes right-move {
    25% {
      transform: translateX(8px);
    }

    50% {
      transform: translateX(0);
    }

    75% {
      transform: translateX(6px);
    }

    100% {
      transform: translateX(0);
    }
  }
}

body {
  background: linear-gradient(var(--body-background), var(--dark-background));
  min-height: 100vh;
  overflow: hidden;
}
